body,html {background:#F4F4F4;height:100%;padding:0px;margin:0px;}

#paramenu {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: black;
}

#logo {
  display: block;
  position: absolute;
  float: left;
  margin: 1% 0 0 15%;
}

#titulo1 {
  display: block;
  position: static;
  color: black;
  font-size: 50px;
  color: black;
  text-align: center;
}

#rectorado {
  width: 60%;
  height: 60%;
  margin:auto;
  display:block;
}


#enlace {
  position: relative;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 28px;
  font-family: "Times New Roman", Times, serif;
  color: #C0B283;
  font-size: 20px;
  background: #373737;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#enlace:hover {
  background: #828082;
  background-image: linear-gradient(to bottom, #828082, #373737);
  text-decoration: none;
}

#enlace2 {
  position: absolute;
  top: 65%; 
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 28px;
  font-family: "Times New Roman", Times, serif;
  color: #C0B283;
  font-size: 20px;
  background: #373737;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#enlace2:hover {
  background: #828082;
  background-image: linear-gradient(to bottom, #828082, #373737);
  text-decoration: none;
}

#enlace3 {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 28px;
  font-family: "Times New Roman", Times, serif;
  color: #C0B283;
  font-size: 20px;
  background: #373737;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#enlace3:hover {
  background: #828082;
  background-image: linear-gradient(to bottom, #828082, #373737);
  text-decoration: none;
}

#iniprueba {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 28px;
  font-family: "Times New Roman", Times, serif;
  color: #C0B283;
  font-size: 20px;
  background: #373737;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#iniprueba:hover {
  background: #828082;
  background-image: linear-gradient(to bottom, #828082, #373737);
  text-decoration: none;
}

#examen {
  background: #DCD0C0;
  width: 80%;
  height: 100%;
  margin:auto;
}

#mensaje_examen {
  margin: 0% 0% 5% 38%;
  font-size: 20px;
}

#mensaje_examen2 {
  position: relative;
  bottom: 5%;
  left: 88%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

#resultados {
  position: relative;
  background: #F4F4F4
  background-color: #DCD0C0;
  width: 80%;
  height: 60%;
  margin: auto;
  color: black;
  font-size: 20px;
  text-align: center;
}  

#imgcss{
  border:0;
  width:88px;
  height:31px;
}

#instrucciones {
  background: #DCD0C0;
  width: 80%;
  height: 18%;
  margin: 5% 10% 5% 10%;
  color: black;
  font-size: 20px;
  text-align: justify;
}


#reloj{
position: fixed;
font-size: 42px;
margin: 0% 65%;
vertical-align:middle;
color:black;
}

#minutos, #segundos {
  font-size: 42px;
}


.caja1 {
  background: #DCD0C0;
  width: 80%;
  height: 100%;
  margin:auto;
  color: black;
  font-size: 20px;
  text-align: justify;
}

legend{
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color: #373737;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
  color: black;
  text-align: center;
}

h5 {
  bottom: 0;
  padding: 10px;
  background-color: #DCD0C0;
  color: black;
  text-align: center;
}

a:link{
	text-decoration: none;
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	color: #C0B283;
  text-align: center;
}


/*configuración menú horizontal pantalla inicial*/
.paramenu {
  width: 40%;
  margin: 1% 0 0 35%;
  overflow:hidden;
  display: block;
}

header {
  width: 100%;
  z-index: 10;
}

nav {
  float: left;
}

nav ul {
  list-style: none;
  overflow: hidden;
}

nav ul li {
  float: left;
  border-radius: 28px;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

nav ul li a {
  display: block; 
  padding: 10px 20px 10px 20px;
  color: #C0B283;
  text-decoration: none;
}

nav ul li:hover {
  background: #828082;
  background-image: linear-gradient(to bottom, #828082, #373737);
  text-decoration: none;
}