body,html{background:#F4F4F4;height:100%;padding:0px;margin:0px;}

#paramenu {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  color: black;
}

#logo {
  display: block;
  position: relative;
  float: left;
  margin: 1% 0 0 15%;
  width:30%;
  height:30%;
}

#titulo1 {
  display: block;
  position: static;
  color: black;
  font-size: 25px;
  color: black;
  text-align: center;
}

#rectorado {
  width: 60%;
  height: 60%;
  margin:auto;
  display:block;
}

/*#enlace {
  display: block;
  text-decoration: none;
  color: black;
  margin: 0% 5% 20% 20%;
}

#enlace1 {
  display: block;
  text-decoration: none;
  color: black;
  margin: 0% 0% 10% 35%;
}
*/

#enlace {
  position: relative;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 28px;
  font-family: "Times New Roman", Times, serif;
  color: #C0B283;
  font-size: 15px;
  background: #373737;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#enlace:hover {
  background: #828082;
  background-image: linear-gradient(to bottom, #828082, #373737);
  text-decoration: none;
}

#enlace2 {
  position: absolute;
  top: 90%; 
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 28px;
  font-family: "Times New Roman", Times, serif;
  color: #C0B283;
  font-size: 12px;
  background: #373737;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

#enlace2:hover {
  background: #828082;
  background-image: linear-gradient(to bottom, #828082, #373737);
  text-decoration: none;
}

#enlace3 {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 28px;
  font-family: "Times New Roman", Times, serif;
  color: #C0B283;
  font-size: 15px;
  background: #373737;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#enlace3:hover {
  background: #828082;
  background-image: linear-gradient(to bottom, #828082, #373737);
  text-decoration: none;
}

#iniprueba {
  position: relative;
  top: 2%; 
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 28px;
  font-family: "Times New Roman", Times, serif;
  color: #C0B283;
  font-size: 12px;
  background: #373737;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

#iniprueba:hover {
  background: #828082;
  background-image: linear-gradient(to bottom, #828082, #373737);
  text-decoration: none;
}

#examen {
  background: #DCD0C0;
  width: 80%;
  height: 80%;
  margin: 15% 20% 1% 10%;
}

#mensaje_examen {
  position: relative;
  top: 5%; 
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  text-align: center;
}

#mensaje_examen2 {
  position: relative;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  text-align: center;
}

#resultados {
  background: #DCD0C0;
  width: 80%;
  margin:auto;
  color: black;
  font-size: 15px;
  text-align: justify;
}

#imgcss{
  border:0;
  width:88px;
  height:31px;
}

#instrucciones {
  background: #F4F4F4;
  width: 80%;
  height: 15%;
  margin: 5% 10% 20% 10%;
  color: black;
  font-size: 12px;
  text-align: justify;
}

.caja1 {
  background: #DCD0C0;
  width: 80%;
  height: 100%;
  margin:auto;
  color: black;
  font-size: 20px;
  text-align: justify;
}

select{
  width: 100%;
  font-size: 10px;
}

legend{
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  color: #373737;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
  color: black;
  text-align: center;
  margin: 0% 40% 0% 25%;
}

h3 {
  font-size: 12px;
  text-align: justify;
}

h5 {
  padding: 10px;
  background-color: #DCD0C0;
  color: black;
  text-align: center;
}

a:link{
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  color: #C0B283;
  text-align: center;
}

/*configuración menú horizontal*/
.paramenu {
  width: 80%;
  margin: auto;
  overflow:hidden;
}

header {
  width: 100%;
  z-index: 10;
}

nav {
  float: left;
}

nav ul {
  list-style: none;
  overflow: hidden;
}

nav ul li {
  float: left;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

nav ul li a {
  display: block; 
  padding: 20px;
  color: #C0B283;
  text-decoration: none;
}

nav ul li:hover {
  background: #373737;
}